# Git LFS tracking for database snapshots
db_dumps/*.tar.gz filter=lfs diff=lfs merge=lfs -text
storage/**/*.pdf filter=lfs diff=lfs merge=lfs -text
db_dumps/fiosra_db_snapshot.tar.gz filter=lfs diff=lfs merge=lfs -text
